* {
    margin: 0;
    background: linear-gradient(to right, #007991, #78ffd6); 
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    margin: 125px auto;
    height: 75vh;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: whitesmoke;
}

.calculator {
    display: flex;
    margin: 20px;
    height: 550px;
    width: 400px;
    align-items: center;
    justify-content: center;
    background: #696969;
    border-radius: 10px;
    position: relative;
}

button {
    cursor: pointer;
    display: flex;
    margin: 10px 12px;
    background: black;
    color: whitesmoke;
    border-radius: 5px;
    height: 65px;
    width: 65px;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 800px;
    margin-top: 125px;
    background: #696969;
    align-items: center;
    justify-content: center;
}

.rows {
    background: #696969;
}

.output-screen {
    background: lightgray;
    position: absolute;
    top:0;
    padding: 30px;
    height: 60px;
    border-radius: 15px;
    margin-top: 20px;
    width: 300px;
    font-weight: bolder;
    font-size: 50px;
    text-align: right;
    align-items: flex-end;
}

.equation {
    display: flex;
    outline: none;
    background: transparent;
    width: 300px;
    font-size: 25px;
    justify-content: flex-end;
    color: red;
}

#num1 {
    background: transparent;
}

#num2 {
    background: transparent;    
}

#operator {
    background: transparent;
}

#answer {
    background: transparent;
}